/* index */ 
//main
.carousel {
    background-color: $color-secundario;
    .principal {
        width: 50%;
        display: flex;
        justify-content: center;
        &:after {
            display: block;
            clear: both;
            content: "";
        }
    .color {
            position: absolute;
            right: 15%;
            bottom: 1.25rem;
            left: 15%;
            padding-top: 2rem;
            padding-bottom: 2rem;
            color: $color-principal;
            text-align: center;
            font-family: "menutxtrg";
            background-color:$color-secundario;
          }
    }
}
//section
.card-title {
    font-family: $general;
    font-size: xx-large;
    
}
  .card {
      margin-top: 2rem;
      font-family: $submenu;
      background-color: $color-principal;
  }
  .text-body-secondary {
      font-family: $menu;
      }

/* mateamp */ 
.ampmain {
    margin-left: 30px;
   display: grid;
   grid-template-columns: repeat(4,1fr) ;
   grid-template-rows: repeat(6,1fr) ;
   grid-template-areas:  
  "uno uno tres tres"
  "uno uno tres tres"
  "dos dos cuatro cuatro"
  "dos dos cuatro cuatro"
  "cinco cinco seis seis"
  "cinco cinco seis seis"
  
   ;

}

.uno {
    grid-area: uno;
}
.dos {
    grid-area: dos;
}
.tres {
    grid-area: tres;
}
.cuatro {
    grid-area: cuatro;
}
.cinco {
    grid-area: cinco;
}
.seis {
    grid-area: seis;
}

 /* estilos matepedal*/

.basepdal {
        display: flex;
        justify-content: center;
    }
.imgpedal {
        display: flex;
        justify-content: end;
        width: 50rem;
    }

// estilos como lo hacemos

.videos{
    background-color: $color-secundario;
    font-family: $menu;
    display: flex;
    justify-content:space-evenly;
    
}

.video-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around ;
    align-items: center;
    height: 700px;

    .v1 {height: 80%;};
    
    .txt {
        color: $color-terciario;
        background-color: $color-txt;
        width: 20rem;
        padding: 15px;
        border-radius: 40px ;
        border-color: $color-principal;
        border-width: 3px;
        border-style: solid;
    
    }
}

